<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Container</title>
</head>

<body>
    <div class="my-5">
        <div class="container">
            <!-- heading -->
            <div class="my-3">
                <h2 class="h2 fw-bold text-capitalize mb-3 text-danger-emphasis">
                    <i class="bi bi-grid-1x2-fill"></i> container
                </h2>
                <p class="fw-semibold text-secondary ms-5">
                    Containers are used to wrap and center your content on the page.
                </p>
            </div>

            <!-- visual part -->
            <div class="my-3">
                <p class="fw-semibold text-info mb-3">Visual:</p>

                <div class="container bg-light rounded-3 p-5 text-center">
                    <div class="container mb-3 border-warning p-5 bg-warning-subtle">
                        <div class="container border-primary bg-primary-subtle p-5">
                            .container
                        </div>
                    </div>

                    <div class="container border-warning py-5 bg-warning-subtle">
                        <div class="container container-fluid border-primary bg-primary-subtle p-5">
                            .container-fluid
                        </div>
                    </div>
                </div>
            </div>

            <!-- classes in css and bs -->
            <div class="my-5">
                <p class="fw-semibold text-info mb-3">Difference:</p>

                <div class="row row-cols-1 row-cols-md-2 g-4">
                    <!-- css class -->
                    <div class="col">
                        <div class="bg-light rounded-3 p-3 h-100">
                            <p class="text-danger fw-semibold">CSS class</p>

                            <div class="ms-3 mt-3 class-style">
                                <p>.container {</p>
                                <p>width: 100%;</p>
                                <p>margin-left: auto;</p>
                                <p>margin-right: auto;</p>
                                <p>padding-left: 0.75rem;</p>
                                <p>padding-right: 0.75rem;</p>
                                <p>max-width: 75%;</p>
                                <p>}</p>
                            </div>
                        </div>
                    </div>

                    <!-- bootstrap class -->
                    <div class="col">
                        <div class="bg-light rounded-3 p-3 h-100">
                            <p class="text-success fw-semibold">BS class</p>

                            <div class="ms-3 mt-3 class-style">
                                <p>container</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- classes table -->
            <div class="my-5">
                <p class="fw-semibold text-info mb-3">Related:</p>

                <div class="my-3">
                    <p class="fw-semibold mb-2">1. container-sm</p>

                    <p class="ms-3 mb-3 text-secondary-emphasis">
                        Fixed width starts from small screens.
                    </p>

                    <div class="row row-cols-1 row-cols-md-2 g-4">
                        <!-- css class -->
                        <div class="col">
                            <div class="bg-light rounded-3 p-3 h-100">
                                <p class="text-danger fw-semibold">CSS class</p>

                                <div class="ms-3 mt-3 class-style">
                                    <p>Same as .container + max-width: 540px;</p>
                                </div>
                            </div>
                        </div>

                        <!-- bootstrap class -->
                        <div class="col">
                            <div class="bg-light rounded-3 p-3 h-100">
                                <p class="text-success fw-semibold">BS class</p>

                                <div class="ms-3 mt-3 class-style">
                                    <p>container-sm</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="my-3">
                    <p class="fw-semibold mb-2">2. container-md</p>

                    <p class="ms-3 mb-3 text-secondary-emphasis">
                        Fixed width starts from medium screens.
                    </p>

                    <div class="row row-cols-1 row-cols-md-2 g-4">
                        <!-- css class -->
                        <div class="col">
                            <div class="bg-light rounded-3 p-3 h-100">
                                <p class="text-danger fw-semibold">CSS class</p>

                                <div class="ms-3 mt-3 class-style">
                                    <p>Same as .container + max-width: 720px;</p>
                                </div>
                            </div>
                        </div>

                        <!-- bootstrap class -->
                        <div class="col">
                            <div class="bg-light rounded-3 p-3 h-100">
                                <p class="text-success fw-semibold">BS class</p>

                                <div class="ms-3 mt-3 class-style">
                                    <p>container-md</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="my-3">
                    <p class="fw-semibold mb-2">3. container-lg</p>

                    <p class="ms-3 mb-3 text-secondary-emphasis">
                        Fixed width starts from large screens.
                    </p>

                    <div class="row row-cols-1 row-cols-md-2 g-4">
                        <!-- css class -->
                        <div class="col">
                            <div class="bg-light rounded-3 p-3 h-100">
                                <p class="text-danger fw-semibold">CSS class</p>

                                <div class="ms-3 mt-3 class-style">
                                    <p>Same as .container + max-width: 960px;</p>
                                </div>
                            </div>
                        </div>

                        <!-- bootstrap class -->
                        <div class="col">
                            <div class="bg-light rounded-3 p-3 h-100">
                                <p class="text-success fw-semibold">BS class</p>

                                <div class="ms-3 mt-3 class-style">
                                    <p>container-lg</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="my-3">
                    <p class="fw-semibold mb-2">4. container-xl</p>

                    <p class="ms-3 mb-3 text-secondary-emphasis">
                        Fixed width starts from extra large screens.
                    </p>

                    <div class="row row-cols-1 row-cols-md-2 g-4">
                        <!-- css class -->
                        <div class="col">
                            <div class="bg-light rounded-3 p-3 h-100">
                                <p class="text-danger fw-semibold">CSS class</p>

                                <div class="ms-3 mt-3 class-style">
                                    <p>Same as .container + max-width: 1140px;</p>
                                </div>
                            </div>
                        </div>

                        <!-- bootstrap class -->
                        <div class="col">
                            <div class="bg-light rounded-3 p-3 h-100">
                                <p class="text-success fw-semibold">BS class</p>

                                <div class="ms-3 mt-3 class-style">
                                    <p>container-xl</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="my-3">
                    <p class="fw-semibold mb-2">5. container-xxl</p>

                    <p class="ms-3 mb-3 text-secondary-emphasis">
                        Fixed width starts from extra extra large screens.
                    </p>

                    <div class="row row-cols-1 row-cols-md-2 g-4">
                        <!-- css class -->
                        <div class="col">
                            <div class="bg-light rounded-3 p-3 h-100">
                                <p class="text-danger fw-semibold">CSS class</p>

                                <div class="ms-3 mt-3 class-style">
                                    <p>Same as .container + max-width: 1320px;</p>
                                </div>
                            </div>
                        </div>

                        <!-- bootstrap class -->
                        <div class="col">
                            <div class="bg-light rounded-3 p-3 h-100">
                                <p class="text-success fw-semibold">BS class</p>

                                <div class="ms-3 mt-3 class-style">
                                    <p>container-xxl</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="my-3">
                    <p class="fw-semibold mb-2">6. container-fluid</p>

                    <p class="ms-3 mb-3 text-secondary-emphasis">
                        Always takes full screen width.
                    </p>

                    <div class="row row-cols-1 row-cols-md-2 g-4">
                        <!-- css class -->
                        <div class="col">
                            <div class="bg-light rounded-3 p-3 h-100">
                                <p class="text-danger fw-semibold">CSS class</p>

                                <div class="ms-3 mt-3 class-style">
                                    <p>.container-fluid &lcub;</p>
                                    <p>width: 100%;</p>
                                    <p>padding-left: 0.75rem;</p>
                                    <p>padding-right: 0.75rem;</p>
                                    <p>&rcub;</p>
                                </div>
                            </div>
                        </div>

                        <!-- bootstrap class -->
                        <div class="col">
                            <div class="bg-light rounded-3 p-3 h-100">
                                <p class="text-success fw-semibold">BS class</p>

                                <div class="ms-3 mt-3 class-style">
                                    <p>container-fluid</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>