<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Offset</title>
</head>

<body>
    <div class="my-5">
        <div class="container">
            <!-- heading -->
            <div class="my-3">
                <h2 class="h2 fw-bold text-capitalize mb-3 text-danger-emphasis">
                    <i class="bi bi-arrow-right-square-fill"></i> offset
                </h2>
                <p class="fw-semibold text-secondary ms-5">
                    Offset classes leave empty grid columns before a column, pushing it to the right.
                </p>
            </div>

            <!-- visual part -->
            <div class="my-3">
                <p class="fw-semibold text-info mb-3">Visual:</p>

                <div class="container bg-light rounded-3 p-5">
                    <div class="container border border-warning bg-warning-subtle py-5">
                        <div class="row">
                            <div class="col-4 offset-4 bg-primary-subtle border border-primary p-4 text-center">
                                col-4 offset-4
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- classes in css and bs -->
            <div class="my-5">
                <p class="fw-semibold text-info mb-3">Difference:</p>

                <div class="row row-cols-1 row-cols-md-2 g-4">
                    <!-- css class -->
                    <div class="col">
                        <div class="bg-light rounded-3 p-3 h-100">
                            <p class="text-danger fw-semibold">CSS class</p>

                            <div class="ms-3 mt-3 class-style">
                                <p>.offset-4 {</p>
                                <p>margin-left: 33.333333%;</p>
                                <p>}</p>
                            </div>
                        </div>
                    </div>

                    <!-- bootstrap class -->
                    <div class="col">
                        <div class="bg-light rounded-3 p-3 h-100">
                            <p class="text-success fw-semibold">BS class</p>

                            <div class="ms-3 mt-3 class-style">
                                <p>offset-4</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- classes table -->
            <div class="my-5">
                <p class="fw-semibold text-info mb-3">Related:</p>

                <div class="row">
                    <div class="col-12 col-lg-8">
                        <table class="table table-sm table-dark">
                            <thead class="text-center">
                                <tr>
                                    <th>BS Class</th>
                                    <th>What this does</th>
                                </tr>
                            </thead>

                            <tbody class="text-center">
                                <tr>
                                    <td>offset-0</td>
                                    <td>Removes offset.</td>
                                </tr>
                                <tr>
                                    <td>offset-1</td>
                                    <td>Moves right by 1 column.</td>
                                </tr>
                                <tr>
                                    <td>offset-2</td>
                                    <td>Moves right by 2 columns.</td>
                                </tr>
                                <tr>
                                    <td>offset-3</td>
                                    <td>Moves right by 3 columns.</td>
                                </tr>
                                <tr>
                                    <td>offset-4</td>
                                    <td>Moves right by 4 columns.</td>
                                </tr>
                                <tr>
                                    <td>offset-5</td>
                                    <td>Moves right by 5 columns.</td>
                                </tr>
                                <tr>
                                    <td>offset-6</td>
                                    <td>Moves right by 6 columns.</td>
                                </tr>
                                <tr>
                                    <td>offset-7</td>
                                    <td>Moves right by 7 columns.</td>
                                </tr>
                                <tr>
                                    <td>offset-8</td>
                                    <td>Moves right by 8 columns.</td>
                                </tr>
                                <tr>
                                    <td>offset-9</td>
                                    <td>Moves right by 9 columns.</td>
                                </tr>
                                <tr>
                                    <td>offset-10</td>
                                    <td>Moves right by 10 columns.</td>
                                </tr>
                                <tr>
                                    <td>offset-11</td>
                                    <td>Moves right by 11 columns.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="my-3">
                <p class="fw-semibold mb-2">Responsive versions:</p>

                <ul class="my-3">
                    <li>offset-sm-*</li>
                    <li>offset-md-*</li>
                    <li>offset-lg-*</li>
                    <li>offset-xl-*</li>
                    <li>offset-xxl-*</li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>