<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form select</title>
</head>

<body>
    <div class="my-5">
        <div class="container">

            <!-- heading -->
            <div class="my-3">
                <h2 class="h2 fw-bold text-capitalize mb-3 text-danger-emphasis">
                    <i class="bi bi-menu-button-wide-fill"></i> form select
                </h2>
                <p class="fw-semibold text-secondary ms-5">
                    Form select classes style dropdown menus with Bootstrap's default design.
                </p>
            </div>

            <!-- visual part -->
            <div class="my-3">
                <p class="fw-semibold text-info mb-3">Visual:</p>

                <div class="container bg-light rounded-3 p-5">

                    <div class="container border border-warning bg-warning-subtle py-5">

                        <div class="row g-4">

                            <div class="col-md-4">
                                <select class="form-select">
                                    <option selected>Default Select</option>
                                    <option>Option 1</option>
                                    <option>Option 2</option>
                                </select>

                                <p class="text-center mt-2 fw-semibold">
                                    form-select
                                </p>
                            </div>

                            <div class="col-md-4">
                                <select class="form-select form-select-lg">
                                    <option selected>Large Select</option>
                                    <option>Option 1</option>
                                    <option>Option 2</option>
                                </select>

                                <p class="text-center mt-2 fw-semibold">
                                    form-select-lg
                                </p>
                            </div>

                            <div class="col-md-4">
                                <select class="form-select form-select-sm">
                                    <option selected>Small Select</option>
                                    <option>Option 1</option>
                                    <option>Option 2</option>
                                </select>

                                <p class="text-center mt-2 fw-semibold">
                                    form-select-sm
                                </p>
                            </div>

                        </div>

                    </div>

                </div>
            </div>

            <!-- classes in css and bs -->
            <div class="my-5">
                <p class="fw-semibold text-info mb-3">Difference:</p>

                <div class="row row-cols-1 row-cols-md-2 g-4">

                    <!-- css class -->
                    <div class="col">
                        <div class="bg-light rounded-3 p-3 h-100">
                            <p class="text-danger fw-semibold">CSS class</p>

                            <div class="ms-3 mt-3 class-style">
                                <p>select {</p>
                                <p>width: 100%;</p>
                                <p>padding: 0.375rem 2.25rem 0.375rem 0.75rem;</p>
                                <p>border: 1px solid #ced4da;</p>
                                <p>border-radius: 0.375rem;</p>
                                <p>}</p>
                            </div>
                        </div>
                    </div>

                    <!-- bootstrap class -->
                    <div class="col">
                        <div class="bg-light rounded-3 p-3 h-100">
                            <p class="text-success fw-semibold">BS class</p>

                            <div class="ms-3 mt-3 class-style">
                                <p>form-select</p>
                                <p>form-select-lg</p>
                                <p>form-select-sm</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <!-- classes table -->
            <div class="my-5">
                <p class="fw-semibold text-info mb-3">Related:</p>

                <div class="row">
                    <div class="col-12 col-lg-8">

                        <table class="table table-sm table-dark">
                            <thead class="text-center">
                                <tr>
                                    <th>BS Class</th>
                                    <th>What this does</th>
                                </tr>
                            </thead>

                            <tbody class="text-center">

                                <tr>
                                    <td>form-select</td>
                                    <td>Default select style.</td>
                                </tr>

                                <tr>
                                    <td>form-select-sm</td>
                                    <td>Small select size.</td>
                                </tr>

                                <tr>
                                    <td>form-select-lg</td>
                                    <td>Large select size.</td>
                                </tr>

                            </tbody>

                        </table>

                    </div>
                </div>
            </div>

        </div>
    </div>
</body>

</html>