<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
</head>

<body>
    <div class="navbar py-2" style="background-color: blueviolet;" data-bs-theme="dark">
        <div class="container">
            <h2 class="navbar-brand text-light">
                <i class="bi bi-bootstrap-fill"></i> Bootstrap Overview
            </h2>

            <button class="navbar-toggler" data-bs-toggle="offcanvas" data-bs-target="#offcanvas-menu">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
</body>

</html>